.App {
  text-align: center;
}
.country-grid-item{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
  cursor: pointer;
  border-radius: 5px;
}
.country-grid-item__flag{
  grid-row: 1;
  background-size: cover;
  background-position: center;
}
.country-grid-item__text {
  grid-row: 2;
}